In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,KFold,cross_val_score,LeaveOneOut,ShuffleSplit
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.metrics import confusion_matrix,classification_report

In [2]:
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
df=pd.read_csv('https://raw.githubusercontent.com/SabinaVino/NewRepository/SabinaVino-patch-1/ML%20%D0%BD%D0%B0%20%D0%BF%D1%80%D0%BE%D0%B2%D0%B5%D1%80%D0%BA%D1%83/pima-indians-diabetes.data.csv',names=names)

In [3]:
df.head(5)

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [ ]:
array=df.to_numpy()

In [ ]:
X = array[:,0:-1]
Y = array[:,-1]

In [ ]:
test_size = 0.33
random_state = 7
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=test_size, random_state= random_state)

In [ ]:
model=LogisticRegression(solver='liblinear')

In [ ]:
model.fit(X_train,Y_train)
y_pred = model.predict(X_test)

In [ ]:
result =  model.score(X_test,Y_test )
result

0.7559055118110236

In [ ]:
n_splits=10
random_state=7
kfold=KFold(n_splits= n_splits, random_state = random_state, shuffle=True)

In [ ]:
results=cross_val_score(model, X, Y, cv=kfold)
results

array([0.83116883, 0.71428571, 0.71428571, 0.77922078, 0.79220779,
       0.76623377, 0.68831169, 0.85714286, 0.80263158, 0.76315789])

In [ ]:
results.mean()

0.7708646616541353

In [ ]:
results.std()

0.05090500786917546

In [ ]:
loocv=LeaveOneOut()

In [ ]:
results=cross_val_score(model, X, Y, cv=loocv)

In [ ]:
results.mean()

0.7682291666666666

In [ ]:
results.std()

0.42196340380334596

In [ ]:
n_splits=10
test_size=0.33
seed=7
kfold=ShuffleSplit(n_splits=n_splits, test_size=test_size, random_state=seed)

In [ ]:
results=cross_val_score(model, X, Y, cv=kfold)

In [ ]:
results.mean()

0.7653543307086613

In [ ]:
results.std()

0.01690622878234953

In [ ]:
n_splits=10
random_state=7
kfold=KFold(n_splits= n_splits, random_state = random_state, shuffle=True)

In [ ]:
scoring='accuracy'
results=cross_val_score(model, X, Y, cv=kfold, scoring=scoring)

In [ ]:
results.mean() #среднюю долю правильных ответов

0.7708646616541353

In [ ]:
results.std()

0.05090500786917546

In [ ]:
scoring='neg_log_loss'
results=cross_val_score(model, X, Y, cv=kfold, scoring=scoring)

In [ ]:
results.mean() #среднее значение логистической функции потерь,взятое с отрицательным знаком,

-0.49356237960494703

In [ ]:
results.std()

0.04206771628974085

In [ ]:
scoring='roc_auc'
results=cross_val_score(model, X, Y, cv=kfold, scoring=scoring)

In [ ]:
results.mean() #среднюю площадь под ROC кривой

0.8257627921677674

In [ ]:
results.std()

0.05005520303752424

In [ ]:
predicted=model.predict(X_test)

In [ ]:
confusion_matrix(Y_test,predicted)

array([[141,  21],
       [ 41,  51]])

In [ ]:
print(classification_report(Y_test,predicted) )

              precision    recall  f1-score   support

         0.0       0.77      0.87      0.82       162
         1.0       0.71      0.55      0.62        92

    accuracy                           0.76       254
   macro avg       0.74      0.71      0.72       254
weighted avg       0.75      0.76      0.75       254

In [4]:
names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO','B', 'LSTAT', 'MEDV']
df=pd.read_csv('https://raw.githubusercontent.com/SabinaVino/NewRepository/SabinaVino-patch-1/ML%20%D0%BD%D0%B0%20%D0%BF%D1%80%D0%BE%D0%B2%D0%B5%D1%80%D0%BA%D1%83/housing.csv',delim_whitespace=True,names=names)

In [5]:
df.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [ ]:
array=df.to_numpy()
X=array[:,0:-1]
Y=array[:,-1]

In [ ]:
model=LinearRegression()

In [ ]:
scoring='neg_mean_absolute_error'
kfold=KFold(n_splits= 10, random_state = 7, shuffle=True)
results=cross_val_score(model, X, Y, cv=kfold, scoring=scoring)

In [ ]:
results.mean() #среднюю величину средней абсолютной ошибки (MAE), взятую с отрицательным знаком

-3.3870077451158935

In [ ]:
results.std()

0.6666977115119725

In [ ]:
scoring='neg_mean_squared_error'
results=cross_val_score(model, X, Y, cv=kfold, scoring=scoring)

In [ ]:
results.mean() #среднюю величину средней квадратичной ошибки (MSE), взятую с отрицательным знаком

-23.746501811313408

In [ ]:
results.std()

11.14343011069812

In [ ]:
scoring='r2'
results=cross_val_score(model, X, Y, cv=kfold, scoring=scoring)

In [ ]:
results.mean()  #среднюю величину коэффициента детерминации (R^2)

0.7181683241114102

In [ ]:
results.std()

0.098665851718426